@import "tailwindcss";



@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--color-teal-500);
  --color-primary-foreground: var(--color-white);
  --color-secondary: var(--color-slate-500);
  --color-secondary-foreground: var(--color-white);

  --color-medical-teal: #2dd4bf;
  --color-medical-blue: #0ea5e9;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media print {
  .no-print {
    display: none !important;
  }

  body {
    background: white !important;
  }
}